<h1>🌿  Starter Herbs 🌱</h1>


<ul style="list-style-type: none;">
<li>BOLDO : Ward off bad, evil people, banish evil spirits, nasty customers, disease.</li>
<br>
<li>LAVENDER : Magical properties include love, beauty, dreaming, vitality, healing, and purification.</li>
<br>
<li>MINT: Money, love and healing (stomach-aches and acne)</li>
<br>
<li>MUGWORT :Use in a dream pillow or sachet to protect from astral boogie-men and evil doers while you’re asleep.</li>
<br>
<li>ELDER: Used to ward off colds and illnesses</li>
<br>
<li>BASIL: Used to guarntee good fortune in a new home</li>
<br>
<li>CHAMOMILE: Purification and protection herb</li>
<br>
<li>PENNROYAL :Used to bring in $$$$$$$ </li>
<br>
<li>SAGE: Used to purify and cleanse</li>
<br>
<li>GINGER: Use to cure sickness </li>
<br>

<center><img src="https://media.giphy.com/media/KCZaFHzMb5jAQ/giphy.gif" width="500" height="400" /></center>


<br>

<h3><%= link_to "Back to profile", @current_user, class: 'link-to-text-color' %></h3>










</ul>
