body {
  background-image: url(stars.png), url(clouds.png);




}
);

<FORM>
<INPUT type="text" STYLE="color: #C2ACDD,   font-family: Verdana; font-weight: bold; font-size: 20px; background-color: #72A4D2;" size="10" maxlength="30">
</FORM>
