body {
  background-image: url(stars.png), url(clouds.png);
  }

  h1 {
    font-family: Apple Chancery, cursive;
    color: #AC90C2;
    font-size: 65px;
    font-weight:250 ;


  }

  h2 {
    font-family: serif;
    color: #E6D7B2  ;
    font-size: 30px;
    font-weight:100 ;
  }

  h3 {
    font-family: serif;
    font-weight: 100 ;
    color: #BFF3D3   ;
    font-size: 20px;
  }

  p
   {
    font-family: serif;
    font-stretch: semi-expanded
    font-weight: 100 ;
    color: #ADF0F4      ;
    font-size: 25px;
  }

  button {
  background: url(hat.png);
  text-indent:30px;
   display:block;

}

  .module {
  cursor: url("ouija_planchette_by_mpissott-daju0uw.png"), pointer;
}



link-to-text-coven {

  font-family: Impact, fantasy;
  font-weight: 200 ;
  color: #E6B845;
  font-size: 20px;
}
.edit-btn {
  width: 15%;
  height: 100px;
  background-color: #927e7961;;
  background-repeat: repeat

}

.login {
  width: 15%;
  height: 100px;
  background-color:
  background-repeat: repeat

}

.link-to-text-color {
  color: #E6B845;
}

.link-to-text-spell-color{
  color: #581845;
  font-size: 20px;
  text-align: center;


}

.bottom-nav {
    width: 100%;
    height: 50px;
    background-color: #250A05;
    display: flex;
    align-items: center;
    justify-content: center;


    text-decoration: none;
    color: white;
    margin: 0 30px;
    transition: 0.8s;

}

);
