body {
  background-image: url(stars.png), url(clouds.png);
  }

  h1 {
    font-family: Apple Chancery, cursive;
    color: #AC90C2;
    font-size: 72px;
    font-weight:300 ;


  }

  h2 {
    font-weight: ;
    color: #fff;
    font-size: 24px;
  }

  h3 {
    font-family: serif;
    font-weight: 100 ;
    color: #9DD1E6  ;
    font-size: 20px;
  }






);
