body {
  background-image: url(stars.png), url(clouds.png);
  }

  h1 {
    font-family: Apple Chancery, cursive;
    color: #AC90C2;
    font-size: 72px;
    font-weight:300 ;


  }

  h2 {
    font-family: serif;
    color: #AC90C2;
    font-size: 40px;
    font-weight:100 ;
  }

  h3 {
    font-family: serif;
    font-weight: 100 ;
    color: #DFE3AF    ;
    font-size: 20px;
  }

  .button-to-text-color {
   background: #92c7eb; background-image: url(https://us.123rf.com/450wm/naddya/naddya1409/naddya140900025/31620668-stock-vector-witch-on-a-broomstick-vector-black-silhouette-.jpg?ver=6)
}

.link-to-text-color {
  color: #C7D23B;
}






);
